extends ../base

block styles
	mixin style('login')

block scripts
	script(type="text/javascript", src="/js/authorize.js")

mixin permissionBlock()
	ul.permissions
		for permission in requestedPermissions
			li.allowed(data-scope=permission)= permissiondefs.getDescription(permission)
				span.hint.deny  Allowed - 
					a.button.minor.negative(href="#") Deny this
				span.hint.allow  Denied - 
					a.button.minor.affirmative(href="#") Allow this

block content
	if user
		.greeting
			p Hi, #{user.name}!
				a.button.logout.minor(href="/logout?redirect=" + redirect) That's not me!
			if newAuthorization
				if (requestedPermissions.length == 0)
					p The #{application.name} application is requesting you log into it. This application is requesting no information and will only recieve an
						| anonymous, unique identifier.
				else
					p The #{application.name} application is requesting you log into it. This application requests the following information about you:
					mixin permissionBlock()
			else
				p The #{application.name} application is requesting additional permissions. The application requests the following 
					| new permissions (in addition to those already granted):
				mixin permissionBlock()

			.actionbuttons		
				form#ConfirmForm(action="/auth/oauth/confirm/", method="POST")
					input(type="hidden", name="_csrf", value=token)
					input(type="hidden", name="client_id", value=application.id)
					input(type="hidden", name="redirect_uri", value=callback)
					input#ScopeInput(type="hidden", name="approved_scope")
					input.button.affirmative.major(type="submit", value="Yes, log me in.")	
				a.button.negative.minor(href=callback) No, thank you.
	else
		.greeting
			h2 Hello there!
			p You don't seem to be connected to to the Maelstrom Network. The #{application.name} application is requesting you log in.
			.hint If you already have a Maelstrom Network account, make sure you connect with an authentication method you have previously linked.
			.actionbuttons
				a.button(href="/auth/facebook/?redirect=" + redirect) Connect with Facebook!
				a.button(href="/auth/twitter/?redirect=" + redirect) Connect with Twitter!
			.actionbuttons
				a.button.negative.minor(href=callback) Actually, I don't want to log in.

		p Please connect to the Maelstrom network with one of your accounts above; you will 
			| then be prompted to log into #{application.name}. In case you're wondering: We won't share any information we get from your accounts with 
			| anyone unless you request it. Read our 
			a(href="/privacy", target="_blank") Privacy Policy
			|  for more information.

		.explain
			h4 What is the Maelstrom Network?
			p The Maelstrom Network is a new type of authentication network that puts your identity back into your hands. #{application.name} is a pilot application
				| selected to help us test out functionality. By clicking one of the sign in buttons above, you will be signed into the Maelstrom Network and
				| subsequently asked to confirm that you do also want to use your Maelstrom login to authorize the application. Part of 
				a(href="/pledge", target="_blank") our Pledge to you
				|  is we will
				| never reveal any private information or data without your express permission. Right now, we only collect and provide your name.
			p Please see 
				a(href="http://www.projectmaelstrom.com", target="_blank") our home page
				|  for more information, including descriptions of what the service will be in future iterations.
